list-text-and-media {
    --row-gap: 20px;
    background: var(--bg-color);
    .subtitle{
        text-align: center;
    }
    .list {
        flex-direction: column;
        gap: 50px;
        h2 {
            margin-bottom: 0;
        }
        .subtitle {
            margin-bottom:  0;
        }
        &_item {
            display: flex;
            flex-wrap: nowrap;
            gap: var(--row-gap);
            color: var(--block-primary-text-color);
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
            .text-block, .media-block {
                flex: 0 0 auto;
                border-radius: var(--block-primary-border-radius);
            }
            .subtitle {
                color: inherit;
            }
            .text-block {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                flex-grow: 0;
                flex-shrink: 1;
                gap: 20px;
                width: 100%;
                padding: 30px;
                background-color: var(--block-primary-bg-color);
                transition: background-color .3s ease;
                .top {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .item-title {
                        font-size: var(--h3-font-size);
                        color: var(--block-primary-h-color);
                        font-weight: 800;
                    }
                    .subtitle {
                        text-align: left;
                    }
                    .text-list {
                        padding-left: 20px;
                        line-height: 140%;
                        font-size: var(--h2-subtitle-font-size);
                        li:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                    h3 {
                        color: var(--block-primary-h-color);
                        margin-bottom: 0;
                    }
                }
                .bottom {
                    .link-wrapper {
                        padding: 10px 0;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        transition: color .3s ease;
                        span {
                            font-size: var(--text-font-size);
                            font-weight: 700;
                            color: var(--block-primary-h-color);
                            transition: color .3s ease;
                        }
                        svg {
                            position: relative;
                            left: 0;
                            transition: all .2s ease;
                        }
                    }
                }
            }
            .media-block {
                flex-grow: 1;
                flex-shrink: 0;
                overflow: hidden;
                height: min-content;
            }
            &.clickable:hover {
                cursor: pointer;
                .text-block {
                    background-color: var(--block-primary-bg-hover-color);
                }
                .bottom .link-wrapper {
                    span {
                        color: var(--block-primary-link-hover-color);
                    }
                    svg {
                        left: 10px;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1025px) {
        $grid-columns: 12;
        @for $i from 1 through $grid-columns {
            .col-#{$i} {
                width: calc(percentage($i / $grid-columns) - (var(--row-gap) / 2));
            }
        }
    }

    @media screen and (max-width: 1024px) and (min-width: 870px) {
        .list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            .list_item {
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background-color: var(--block-primary-bg-color);
                padding: 20px;
                border-radius: var(--block-primary-border-radius);
                max-width: calc(50% - 25px);
                .text-block {
                    padding: 0;
                    height: 100%;
                }
                .media-block {
                    flex-grow: 0;
                    border-radius: var(--block-primary-border-radius);
                }
                &:hover {
                    background-color: var(--bg-color);
                }
            }
        }
    }

    @media screen and (max-width: 870px) {
        .list {
            max-width: 500px;
            margin: auto;
            align-items: center;
            gap: 20px;
            .list_item {
                width: 100%;
                flex-direction: column;
                align-items: center;
                background-color: var(--block-primary-bg-color);
                padding: 20px;
                border-radius: var(--block-primary-border-radius);
                .text-block {
                    padding: 0;
                    height: 100%;
                }
                .media-block {
                    flex-grow: 0;
                    border-radius: var(--block-primary-border-radius);
                }
                &:hover {
                    background-color: var(--bg-color);
                }
            }
        }
    }
}