<section>
    <div class="container">
        <div class="flex-wrapper">
            <div class="text">
                <${hLvl} class="title" gh-id="${ghId}.title"></${hLvl}>
                <div class="subtitle" gh-id="${ghId}.subtitle"></div>
                <div class="flex_button">
                    ${json.buttons ? `
                        ${
                            Object.entries(json.buttons).reduce(function (acc, [buttonName, buttonConfig], index) {
                                return acc + `
                                    <button-component data-link="${buttonConfig.link}" data-popup-id="${buttonConfig.popupId}" data-placement="${buttonConfig.placement}" class="btn ${buttonName}">${buttonConfig.text}</button-component>
                                `
                            }, '')
                        }
					` : ''}
                </div>
            </div>
            <div class="image">
				<image-component src="${image.src}" alt="${image.alt}" title="${image.title}" width="578" height="385"></image-component>
            </div>
        </div>
    </div>
</section>