grid-item-default {
    --transition-duration: .2s; // for underline class
    .primary-block {
        width: 100%;
        height: 100%;
        background: var(--block-primary-bg-color);
        border-radius: var(--block-primary-border-radius);
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        color: var(--text-color);
        position: relative;
        overflow: hidden;
        .marker {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: var(--accent-color);
            .marker-symbol {
                color: #FFF;
                font-weight: 700;
                font-size: 24px;
            }
        }
        .letter {
            position: absolute;
            top: -20px;
            right: -20px;
            color: #E4E4E4;
            font-size: 150px;
            line-height: 75%;
            font-weight: 700;
            transition: all .2s ease;
        }
        .top {
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: left;
            .item-title {
                font-size: var(--h3-font-size);
                font-weight: var(--h3-font-weight);
                line-height: 135%;
                color: var(--block-primary-h-color);
                margin-bottom: 0px;
            }
            .icon {
                max-width: 80px;
                height: 80px;
                img {
                    width: 100%;
                    height: 80px;
                    display: block;
                }
            }
            .text {
                font-size: var(--text-font-size);
                font-weight: var(--text-font-weight);
                color: var(--block-primary-text-color);
                line-height: 140%;
                letter-spacing: 0.01em;
                text-align: inherit;
                p {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                ul, ol {
                    margin-top: 10px;
                    padding-left: 16px;
                }
                ul {
                    list-style: disc;
                }
                ol {
                    list-style: decimal;
                }
            }
            .item_list {
                font-size: var(--text-font-size);
                font-weight: var(--text-font-weight);
                line-height: 140%;
                letter-spacing: 0.01em;
                color: var(--block-primary-text-color);
                text-align: left;
                list-style: none;
                li {
                    padding-left: 14px;
                    margin-bottom: 10px;
                    position: relative;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        top: 9px;
                        left: 0;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background-color: var(--block-primary-text-color);
                    }
                }
            }
        }
        .bottom {
            .bold_text {
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--block-primary-h-color);
                span {
                    font-size: var(--text-font-size);
                    font-weight: 700;
                    transition: color .2s ease;
                }
                svg {
                    position: relative;
                    left: 0;
                    transition: all .2s ease;
                }
            }
        }
    }
    .bottom_button {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .btn {
        display: inline-block;
    }
    .primary-block.clickable {
        transition: all .3s ease-out;
        &:hover {
            background-color: var(--block-primary-bg-hover-color);
            cursor: pointer;
            .letter {
                color: #fff;
            }
            .bold_text {
                span {
                    color: var(--block-primary-link-hover-color);
                }
                svg {
                    left: 10px;
                }
            }
        }
    }
}