<div class="background_shadow" onclick="backgroundClosePopup()">
    <div class="popup">
        <div class="popup_top">
            <div class="close" onclick="closePopup()">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="30" viewBox="0 0 29 30" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.85786 21.1421L21 7L22.4142 8.41421L8.27208 22.5564L6.85786 21.1421Z" fill="#1B1B1D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M8.85786 6.85786L23 21L21.5858 22.4142L7.44365 8.27208L8.85786 6.85786Z" fill="#1B1B1D"></path></svg>
            </div>
        </div>
        <div class="child-container"></div>
    </div>
</div>