<section>
    <div class="container">
        ${json.title ? `
            <h2 gh-id="${ghId}.title"> TITLE </h2>
        ` : ''}
        ${json.subtitle ? `
            <p class="subtitle" gh-id="${ghId}.subtitle"> SUBTITLE </p>
        ` : ''}
        <div class="flex-wrapper">
            ${(() => {
                    const halfLength = Math.ceil(json.items.length / 2);
                    const firstColumnItems = json.items.slice(0, halfLength);
                    const secondColumnItems = json.items.slice(halfLength);

                    let indexOfAllItems = 0;
                    
                    const reduceItems = (items) => {
                        return items.reduce((acc, item) => {
                            const res = acc + `
                                <div class="primary-block" onclick="toggleExpand()">
                                    <div class="visible-content">
                                        ${item.title ? `<h3 class="title" gh-id="${ghId}.items.${indexOfAllItems}.title"></h3>` : ''}
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none"><path d="M1 8.33333L8.5 14.8148L16 8.33333M8.5 15L8.5 0" stroke="none" stroke-width="2"></path></svg>
                                        </div>
                                    </div>
                                    <div class="expandable-wrapper">
                                        <div class="content">
                                            ${item.title ? `<p class="text" gh-id="${ghId}.items.${indexOfAllItems}.text"></p>` : ''}
                                        </div>
                                    </div>
                                </div>
                            `;
                            indexOfAllItems++;
                            return res;
                        }, '')
                    }
                    return `
                        <div class="accordion-column">
                            ${reduceItems(firstColumnItems)}
                        </div>
                        <div class="accordion-column">
                            ${reduceItems(secondColumnItems)}
                        </div>
                    `;
            })()}
        </div>
    </div>
</section>