<section>
    <div class="flex-wrapper">
        <div class="content">
            <div class="top">
                <h1 class="title" gh-id="${ghId}.content.title"></h1>
                ${json.content.subtitle ? `
                    <div class="subtitle" gh-id="${ghId}.content.subtitle"></div>
                ` : ''}
            </div>
            <div class="bottom">
                ${json.content.button ? `
                    <button class="btn upload-image-button">
                        <span class="btn-content">
                            ${json.content.button.text}
                            <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 19C12 19.5523 12.4477 20 13 20C13.5523 20 14 19.5523 14 19L12 19ZM13.7071 0.292894C13.3166 -0.0976315 12.6834 -0.0976314 12.2929 0.292892L5.92894 6.65685C5.53841 7.04738 5.53841 7.68054 5.92894 8.07107C6.31946 8.46159 6.95263 8.46159 7.34315 8.07107L13 2.41421L18.6569 8.07107C19.0474 8.46159 19.6805 8.46159 20.0711 8.07107C20.4616 7.68055 20.4616 7.04738 20.0711 6.65686L13.7071 0.292894ZM14 19L14 1L12 1L12 19L14 19Z" fill="white"/>
                                <path d="M1 18L1 24C1 25.1046 1.89543 26 3 26H23C24.1046 26 25 25.1046 25 24V18" stroke="white" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </span>
                        <div class="hover-effect">
                            <div></div>
                        </div>
                    </button>
                ` : ''}
            </div>
        </div>
    </div>
</section>