ai-image-content {
    section {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0 !important;
        height: 335px;
        width: 795px;
        font-family: Roboto, sans-serif;
        background-color: #111111D9;
        backdrop-filter: blur(4px); 
        transform: translate(-50%, -50%);
        z-index: 10;

        .flex-wrapper {
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        .top {
            text-align: center;

            h1 {
                font-weight: 900;
                font-size: 50px;
                line-height: 100%;
                color: #fff;
                margin-bottom: 6px;
            }

            .subtitle {
                font-size: 24px;
                line-height: 140%;
                color: #fff;
                margin-bottom: 60px;
            }
        }

        .bottom {
            min-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 385px;

            .btn {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 15px 30px;
                border: 0;
                position: relative;
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                color: #fff;
                z-index: 0;
                background-color: #8D6CE7;
                box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);

                .btn-content {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }

                svg {
                    height: 24px;
                    width: 24px;
                
                    & path {
                        stroke: #fff;
                        fill: #fff;
                    }
                    
                    & path[stroke-linecap] {
                        stroke: #fff;
                        fill: transparent;
                    }
                }

                &:hover {
                    background-color: #fff;
                    color: #8D6CE7;

                    & path {
                        stroke: #8D6CE7;
                        fill: #8D6CE7;
                    }
                    
                    & path[stroke-linecap] {
                        stroke: #8D6CE7;
                        fill: transparent;
                    }
                }

                .hover-effect {
                    position: absolute;
                    bottom: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: -1;
                }

                .hover-effect div {
                    background: rgb(222, 0, 75);
                    background: linear-gradient(
                        90deg,
                        rgba(222, 0, 75, 1) 0%,
                        rgba(191, 70, 255, 1) 49%,
                        rgba(0, 212, 255, 1) 100%
                    );
                    border-radius: 40rem;
                    width: 10rem;
                    height: 10rem;
                    transition: 0.4s;
                    filter: blur(20px);
                    animation: effect infinite 3s linear;
                    opacity: 0.5;
                }

                &:hover .hover-effect div {
                    width: 8rem;
                    height: 8rem;
                }
            }

            @keyframes effect {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) { 
    ai-image-content section {
        height: 245px;
        width: 625px;

        .top {
            h1 {
                font-size: 40px;
            }

            .subtitle {
                font-size: 20px;
                margin-bottom: 30px;
            }
        }

        .bottom {
            .btn-content > span {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    ai-image-content section {
        height: 225px;
        width: 525px;

        .top {
            h1 {
                font-size: 30px;
            }

            .subtitle {
                font-size: 18px;
            }
        }

        .bottom {
            .btn-content > span {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    ai-image-content section {
        top: 75%;
        height: 225px;
        width: 375px;

        .top {
            max-width: 300px;

            h1 {
                font-size: 24px;
            }

            .subtitle {
                font-size: 16px;
            }
        }

        .bottom {
            .btn-content > span {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    ai-image-content section {
        top: 80%;
        height: 170px;
        width: 85%;

        .top {
            max-width: 300px;

            h1 {
                font-size: 24px;
            }

            .subtitle {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }

        .bottom {
            .btn {
                padding: 10px 20px;
            }

            .btn-content > span {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    ai-image-content section {
        top: 75%;
    }
}
