ai-image-compare {
    height: 100%;
    position: relative;

    #image-compare {
        height: 100%;
    }

    &.generated {
        #image-compare {
            height: 100%;
            max-width: 1060px;
        }
    }
}