ai-image-compare {
    height: 100%;
    width: fit-content;
    position: relative;

    #image-compare {
        height: 100%;
        max-width: 920px;
    }

    &.generated {
        #image-compare {
            height: 100%;
            max-width: 1060px;
        }
    }
}