blog-banner {
    .wrapper {
        width: 100%;
        max-width: 1010px;
        margin: 0 auto;
        text-align: center;
    }
    
    breadcrumbs-component .breadcrumbs_list {
        justify-content: center;
    }
}