recent-posts {
    --posts-wrapper-gap: 20px;
    --post-row-gap: 15px;
    .subtitle {
        margin: auto;
        margin-bottom: 25px;
        max-width: 600px;
        text-align: center;
    }
    .posts_wrapper {
        display: flex;
        justify-content: center;
        gap: var(--posts-wrapper-gap);
    }
    .post {
        width: calc(50% - var(--posts-wrapper-gap) / 2);
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: var(--post-row-gap);

        background-color: var(--block-primary-bg-color);
        border: var(--block-primary-border);
        border-color: var(--block-primary-border-color);
        border-radius: var(--block-primary-border-radius);
        box-shadow: var(--block-primary-box-shadow);

        transition: all .2s ease;
        cursor: pointer;
        .media {
            display: flex;
            justify-content: center;
            img {
                border-radius: var(--block-secondary-border-radius);
            }
        }
        .post_title {
            color: var(--block-primary-h-color);
            margin-bottom: 0;
        }
        .post_statistic {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            & > * {
                display: flex;
                align-items: center;
                column-gap: 5px;
                span {
                    color: var(--block-primary-text-color);
                }
            }
        }
        .post_intro {
            font-size: 16px;
            color: var(--block-primary-h-color);
            line-height: 22.4px;
        }
        .post_read_more {
            margin-top: 15px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: bold;
            color: var(--block-primary-h-color);
            svg {
                transition: all .2s ease;
                circle {
                    fill: var(--block-primary-accent-color);
                }
            }
        }
        .categories {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            a {
                padding: 10px 20px;
                border-color: var(--button-tertiary-normal-border-color);
                background-color: var(--button-tertiary-normal-fill-color);
                color: var(--button-tertiary-normal-font-color);    
                transition: all .2s ease;
                &:hover {
                    border-color: var(--button-tertiary-hover-border-color);
                    background-color: var(--button-tertiary-hover-fill-color);
                    color: var(--button-tertiary-hover-font-color);
                }
            }
        }
        &:hover {
            background-color: var(--block-primary-bg-hover-color);
            .post_read_more {
                color: var(--block-primary-accent-color);
                svg {
                    transform: translateX(10px);
                }
            }
        }
    }
    @media screen and (max-width: 850px) {
        .posts_wrapper {
            flex-direction: column;
            align-items: center;
        }
        .post {
            padding: 20px;
            width: 90%;
            max-width: 600px;
        }
        .post_read_more {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 550px) {
        .post {
            .categories {
                a {
                    padding: 5px 15px;
                }
            }
        }
    }
}