<section>
    <div class="container">
        <div class="flex-wrapper">
            <div class="left">
                <h1 gh-id="${ghId}.title"></h1>
                <div class="main-subtitle" gh-id="${ghId}.subtitle"></div>
                <ul class="banner_list tick_list">
                    ${
                        list.reduce((acc, item, index) => {
                            return acc + `
                               <li gh-id="${ghId}.list.${index}"></li>
                            `
                        }, '')
                    }
                </ul>
                <div class="flex_button">
                    ${json.buttons ? `
                        ${
                            Object.entries(json.buttons).reduce(function (acc, [buttonName, buttonConfig], index) {
                                return acc + `
                                    <button-component data-popup-id="${buttonConfig.popupId}" data-placement="${buttonConfig.placement}" class="btn ${buttonName}">${buttonConfig.text}</button-component>
                                `
                            }, '')
                        }
					` : ''}
                </div>
            </div>
            <div class="right">
				<image-component src="${image.src}" alt="${image.alt}" title="${image.title}" width="515" height="649"></image-component>
            </div>
        </div>
    </div>
</section>