<section class="contact_us_block">
    <div class="contact_us_block_container">
        <h1 class="title" gh-id="${ghId}.title"></h1>
        ${subtitle ? `
            <div class="subtitle" gh-id="${ghId}.subtitle"></div>
        ` : ``}
        <ul class="contact_info_list">
            ${phones.length === 1 ? `
                <li class="tel">
                    ${phones.reduce((acc, phone, index) => acc + `
                        <a href="tel:${phone.replace(/[ ()+-]/g, '')}"> 
                            <div class="icon-wrapper">
                                ${phoneIcon}
                            </div>
                            <div class="flex-wrapper">
                                <h3>${listTitles.phone}:</h3>
                                <span>${phone}</span>
                            </div>
                        </a>
                    `, '')}
                </li>
            ` : `
                <li class="tel manyPhones">
                    <div class="icon-wrapper">
                        ${phoneIcon}
                    </div>
                    <div class="left_side">
                        <h3>${listTitles.phone}:</h3>
                        <div class="phones_wrapper">
                            ${phones.reduce((acc, phone, index) => acc + `
                                <a href="tel:${phone.replace(/[ ()+-]/g, '')}"> 
                                    <span>${phone}</span>
                                </a>
                            `, '')}
                        </div>
                    </div>
                </li>
            `}
            <li class="mail">
                <a href="mailto:${info.email}">
                    <div class="icon-wrapper">
                        ${mailIcon}
                    </div>
                    <div class="flex-wrapper">
                        <h3>${listTitles.email}:</h3>
                        <span>${info.email}</span>
                    </div>
                </a>
            </li>
            <li class="address">
                <a href="${info.googleMaps}" target="_blank" rel="noreferrer noopener nofollow">
                    <div class="icon-wrapper">
                       ${addressIcon}
                    </div>
                    <div class="flex-wrapper">
                        <h3>${listTitles.address}:</h3>
                        <span>${info.fullAddress}</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>