grid-component {
    --grid-gap: 20px;
    background-color: var(--bg-color);
    .subtitle {
        max-width: 940px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--grid-gap);
    }
    .grid-item-wrapper {
        width: 100%;
    }
    .bottom_button {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .btn {
        display: inline-block;
    }
    &[data-items-in-row] {
        .grid-item-wrapper {
            //formula: (100%width - (gap * (items - 1))) / items
            max-width: calc((100% - (var(--grid-gap) * (var(--items-in-row) - 1))) / var(--items-in-row));
        }
        &[data-items-in-row="5"] .grid {
            
        }
        &[data-items-in-row="4"] .grid {
            --items-in-row: 4;
            @media screen and (max-width: 1050px) {
                --items-in-row: 2;
            }
        }
        &[data-items-in-row="3"] .grid {
            --items-in-row: 3;
            @media screen and (max-width: 850px) {
                --items-in-row: 2;
            }
        }
        &[data-items-in-row="2"] .grid {
            --items-in-row: 2;
        }
    }
    @media screen and (max-width: 650px) {
        .grid {
            .grid-item-wrapper {
                max-width: 100%;
            }
        }
    }
    @media screen and (max-width: 900px) {
        .primary-block {
            padding: 20px;
            padding-left: 30px;
        }
    }
}