<section class="grid-component">
    <div class="container">
        <h2 gh-id="${ghId}.title"> TITLE </h2>
        ${json.subtitle ? `<p class="subtitle" gh-id="${ghId}.subtitle">SUBTITLE</p>` : ''}
        <div class="grid">
            ${items.reduce((acc, item, index) => {
                const isClickable = item.link ? 'clickable' : '';
                return acc + `
                    <div class="grid_item ${isClickable}">
                        ${item.letter ? `<div class="letter">${item.letter}</div>` : ''}
                        <div class="top">
                            ${item.marker ? `
                                <div class="marker">
                                    <span class="marker-symbol">${item.marker}</span>
                                </div>
                            ` : ''}
                            ${item.icon ? `
                                <div class="icon">
                                    <img src="${item.icon.src}" alt="${item.icon.alt}" title="${item.icon.title}" width="80" height="80">
                                </div>
                            ` : ''}
                            ${item.title ? (() => {
                                const tag = item.link ? `a href="${item.link}"` : 'h3';
                                return `<${tag} class="item-title" gh-id="${ghId}.items.${index}.title">Title</${tag}>`;
                            })() : ''}
                            ${item.text ? `<div class="text">${item.text}</div>` : ''}
                            ${item.list ? `
                                <ul class="item_list">
                                    ${item.list.reduce((acc, list_item, list_index) => acc + `
                                        <li gh-id="${ghId}.items.${index}.list.${list_index}"></li>
                                    `, '')}
                                </ul>
                            ` : ''}
                        </div>
                        ${item.link ? `
                            <div class="bottom">
                                <div class="bold_text">
                                    <span gh-id="${ghId}.items.${index}.bold_text"></span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none"><circle cx="10" cy="10.6282" r="10" fill="#0A79FE"/><path d="M8.25 6.62817L12 10.3782L8.25 14.1282" stroke="white"/></svg>
                                </div>
                            </div>
                        ` : ''}
                    </div>
            `}, '')}
        </div>
        ${json.button_text ? `
            <div class="bottom_button">
                <get-in-touch-button data-popup-title="Тестувати Безкоштовно" data-popup-subtitle="Заповніть форму зараз і ми зв'яжемося з вами!">${json.button_text}</get-in-touch-button>
            </div>
        `: ''}
    </div>
</section>