<section class="grid-component">
    <div class="container">
        <h2 gh-id="${ghId}.title"> TITLE </h2>
        ${json.subtitle ? `<p class="subtitle" gh-id="${ghId}.subtitle">SUBTITLE</p>` : ''}
        <div class="grid_slider">
            <div class="grid">
                ${items.reduce((acc, item, index) => acc + `
                    ${gridItemTag 
                        ? `<div class="grid-item-wrapper"><${gridItemTag} data-item-index="${index}" data-gh-id="${ghId}"></${gridItemTag}></div>`
                        : 'No Grid Item'
                    }
                `, '')}
            </div>
            <div class="navigation_wrapper">
                
            </div>
        </div>
        ${json.button ? `
            <div class="bottom_button">
                <button-component data-link="${json.button.link}" ${json.button.popupId && json.button.placement ? `data-popup-id="${json.button.popupId}" data-placement="${json.button.placement}"` : ''}>${json.button.text}</button-component>
            </div>
        `: ''}
    </div>
</section>