<section class="media-and-text">
    <div class="container">
        <div class="flex-wrapper">
            <div class="left">
                ${title ? `
                    <h2 gh-id="${ghId}.title"> TITLE </h2>
                ` : ''}
                ${subtitle ? `
                    <p class="subtitle" gh-id="${ghId}.subtitle"> SUBTITLE </p>
                ` : ''}
                ${text ? `
                    <div class="content">
                        <p gh-id="${ghId}.text"> TEXT </p>
                    </div>
                ` : ''}
                ${list ? `
                    <ul class="banner_list">
                        ${
                            list.reduce((acc, item, index) => {
                                return acc + `
                                   <li gh-id="${ghId}.list.${index}"> LIST </li>
                                `
                            }, '')
                        }
                    </ul> 
                ` : ''}
                ${buttons ? `
                    <div class="buttons">
                        ${
                            Object.entries(json.buttons).reduce(function (acc, [buttonName, buttonConfig], index) {
                                return acc + `
                                    <button-component data-popup-id="${buttonConfig.popupId}" data-placement="${buttonConfig.placement}" class="btn ${buttonName}">${buttonConfig.text}</button-component>
                                `
                            }, '')
                        }
                    </div>
                ` : ''}
            </div>
            <div class="right">
                <image-component lazyload src="${json.image.src}" alt="${json.image.alt}" title="${json.image.title}" width="598" height="361"></image-component>
            </div>
        </div>
    </div>
</section>