counter-section-with-text {
    --col-gap: 20px;
    --items-in-row: 3;
    background-color: var(--bg-color);
    .service_counter {
        .container {
            .flex-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: var(--col-gap);
                .left, .right {
                    max-width: calc((100% - var(--col-gap)) / 2) ;
                }
                .left {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    .text {
                        text-align: left;
                        .h2 {
                            text-align: inherit;
                        }
                        & > :last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                .right {
                    .counters {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        --gap: 30px;
                        gap: var(--gap);
                        .counter_item {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: center;
                            text-align: center;

                            max-width: calc((100% - (var(--gap) * (var(--items-in-row) - 1))) / var(--items-in-row));
                            .counter {
                                &_top {
                                    display: flex;
                                    width: max-content;
                                    font-size: 46px;
                                    font-weight: 700;
                                    line-height: 120%;
                                    color: var(--h-color);
                                    margin-bottom: 10px;
                                }
                                &_num {
                                    color: inherit;
                                    word-break: keep-all;
                                }
                                &_symbol {
                                    color: inherit;
                                    word-break: keep-all;
                                }
                                &_bottom {
                                    text-align: center;
                                    font-size: var(--text-font-size);
                                    line-height: 140%;
                                    color: var(--text-color);
                                }
                            }
                        }
                    }
                }
            }
            .bottom_button {
                .btn {
                    width: 260px;
                    height: 60px;
                }
            }
            & > .bottom_button {
                display: none;
                width: 100%;
                .btn {
                    margin: auto;
                }
            }
        }
    }

    
    &[data-items-in-row] {
        &[data-items-in-row="5"] {
            
        }
        &[data-items-in-row="4"] {
            --items-in-row: 4;
            @media screen and (max-width: 1050px) {
                --items-in-row: 2;
            }
        }
        &[data-items-in-row="3"] {
            --items-in-row: 3;
            @media screen and (max-width: 850px) {
                --items-in-row: 2;
            }
        }
        &[data-items-in-row="2"] {
            --items-in-row: 2;
        }
    }

    @media screen and (max-width: 1025px) {
        .service_counter {
            .container {
                .flex-wrapper {
                    .left {
                        gap: 20px;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 730px) and (max-width: 900px) {
        .service_counter {
            .container {
                .flex-wrapper {
                    margin-bottom: 20px;
                    .left {
                        .bottom_button {
                            display: none;
                        }
                    }
                    .right {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .counters {
                            flex-direction: column;
                            align-items: center;
                            .counter_item {
                                max-width: 205px;
                            }
                        }
                    }
                }
                & > .bottom_button {
                    display: block;
                }
            }
        }
    }

    @media screen and (max-width: 730px) {
        .service_counter {
            .container {
                .flex-wrapper {
                    flex-direction: column;
                    margin-bottom: 20px;
                    .left, .right {
                        max-width: 100%;
                    }
                    .left {
                        .text {
                            text-align: center;
                        }
                        .bottom_button {
                            display: none;
                        }
                    }
                    .right {
                        .counters {
                            flex-direction: row;
                            align-items: center;
                        }
                    }
                }
                & > .bottom_button {
                    display: block;
                }
            }
        }
    }
    @media screen and (max-width: 600px) {
            --items-in-row: 2;
    }
}
